* {
	margin: 0;
	padding: 0;
}

body {
	width: 960px;
	margin: auto;
}

#container {
	display: block;
	float: left;
	position: relative;
	background: #388e3c;
	height: 800px;
	width: 800px;
}

#message {
	position: absolute;
	text-align: center;
	padding: 10px;
	background: #FFF;
	height: 150px;
	width: 300px;
	font-size: 30px;
	color: #212121;
	top: 315px;
	left: 298px;
}

.row {
	width: 100%;
	height: 20px;
}

.square {
	display: inline-block;
	height: 20px;
	width: 20px;
}

.snake {
	background: #448aff;
}

.dead {
	background: #bd001d;
}

.food {
	background: #e9ff23;
}

.score {
	display: block;
	float: left;
}